@import 'colors';
.home-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px;
    grid-gap: 5px;

    * > h1 {
        font-size: 24px;
        margin-bottom: 5px;
        font-weight: 800;
    }
}

.balances {
    grid-column: 1 / 3;
    grid-row: 1 ;
    display: grid;
    grid-template-columns: repeat(4, 0.25fr) ;
    grid-template-rows: 0.25fr 0.25fr 0.25fr;
    grid-gap: 0 5px;
    grid-template-areas:
        "earnings-header         earnings-header         earnings-header     earnings-header"
        "earnings-earned         earnings-requested      earnings-taken      earnings-total     "
        "earnings-earned-num     earnings-requested-num  earnings-taken-num  earnings-total-num ";
    align-items: center;
    text-align: center;
    padding: 0;

    #earnings-header {
        grid-area: earnings-header;
    }

    #earned-hours-title {
        grid-area: earnings-earned;
    }

    #earned-hours-number {
        grid-area: earnings-earned-num
    }

    #requested-hours-title {
        grid-area: earnings-requested;
    }

    #requested-hours-number {
        grid-area: earnings-requested-num;
    }

    #taken-hours-title {
        grid-area: earnings-taken;
    }

    #taken-hours-number {
        grid-area: earnings-taken-num;
    }
    
    #remaining-hours-title {
        grid-area: earnings-total;
    }

    #remaining-hours-number {
        grid-area: earnings-total-num;
    }

    .balance-title {
        display: block;
        background: $primary;
        color: #fff;
        text-align: center;
        padding: 10px 0px;
        border-radius: 5px 5px 0 0;
        z-index: 2;
        font-size: 14pt;
    }

    .balance-total {
        padding: 10px;
        background: $accent;
        color: #000;
        text-align: center;
        vertical-align: center;
        border-radius: 0 0 5px 5px;
        z-index: 1;
        font-size: 24pt;
        height: 100%;
    }
}

.pending-requests {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-flow: column;

    .table-header {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "date hours notes requested"
    }

    
    .pending-date-title {
        grid-column: 1;
    }
    
    .pending-hours-title {
        grid-column: 2;
    }
    
    .pending-notes-title {
        grid-column: 3;
    }
    text-align: center;
}

.table-body {
    border-radius: 0 0 5px 5px;
    background: $accent;
    color: #000;
    margin-top: 0;
}

.table-header {
    background: $primary;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
}

.approved-requests {
    display: flex;
    flex-flow: column;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    .table-header {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
    }
}

.complete-requests {
    display: flex;
    flex-flow: column;
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    .table-header {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
    }
}
