<link type="text/css" rel="stylesheet" href="static/css/banner.css" />
<nav>
    <img class="banner-image" src="static/img/logo.svg" />
    <a class="banner-text" href="/">PTO Calculator</a>
    <a class="nav-link new" href="/new">Add Request</a>
    {%if True%}
    <a class="nav-link admin" href="/admin">Admin</a>
    {%endif%}
    {%if True%}
    <a class="nav-link approve" href="/approve">Approve</a>
    {%endif%}
    {%if True%}
    <a class="nav-link sign" href="#">Sign In</a>
    {%else%}
    <a class="nav-link sign" href="#">Sign Out</a>
    {%endif%}
</nav>


