{%macro calendar(calendar_view_model, pto=None) -%}
<div class="calendar">
    <div class="calendar-title">
        <a id="last-month" class="button calendar-nav" href="#">{{calendar_view_model.last_month.name}}</a>
        <h1 class="title-text">{{calendar_view_model.this_month.name}} {{calendar_view_model.this_month.year}}</h1>
        <a id="next-month" class="button calendar-nav" href="#">{{calendar_view_model.next_month.name}}</a>
    </div>
    <div class="calendar-body">
        {% for i in range(7)%}
            <div class="day-header {{i | dow}}">{{i | dow}}</div>
        {% endfor %}
        {% for day in calendar_view_model.days %}
            {% if day.day is none %}
            <div class="empty-day {{day.dow | dow}}"></div>
            {% else %}
            <div class="day {{day.dow | dow}}">{{day.day}}</div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{%- endmacro %}