{%extends "layout.html"%}
{%block content %}
<link type="text/css" rel="stylesheet" href="static/css/index.css" />
    <div class="balances">
        <h1 class="balance-header" id="earnings-header">Earnings</h1>
        <span class="balance-title" id="earned-hours-title">Earned Hours</span>
        <span class="balance-total" id="earned-hours-number">25</span>
        <span class="balance-title" id="requested-hours-title">Requested Hours</span>
        <span class="balance-total" id="requested-hours-number">15</span>
        <span class="balance-title" id="taken-hours-title">Taken Hours</span>
        <span class="balance-total" id="taken-hours-number">5</span>
        <span class="balance-title total" id="remaining-hours-title">Remaining Balance</span>
        <span class="balance-total total" id="remaining-hours-number">5</span>
        <h1 class="pending-header">Pending Requests</h1>
        <div class="pending-table-header">
            <span class="pending-date-title">Date</span>
            <span class="pending-hours-title">Hours</span>
            <span class="pending-notes-title">Notes</span>
        </div>
        <div class="pending-table-body">
            {%for i in range(2)%}
            <span class="pending-date-value">12-11-2017</span>
            <span class="pending-hours-value">8</span>
            <span class="pending-notes-value">Beth's Birthday</span>
            {%endfor%}
        </div>
    </div>
{%endblock%}